<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ConnectionsString>
    <add name="SQLConnection"
        ConnectionsString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ContactUsers;Integrated Security=true;"
        providerName="System.Data.SqlClient" />
  </ConnectionsString>
</configuration>